# Dynamic
DYNAMIC_ENVIRONMENT_ID=
DYNAMIC_WEBHOOK_SECRET=
DYNAMIC_API_KEY=
DYNAMIC_APP_ORIGIN=http://localhost:8081

# WalletConnect / Reown
WALLETCONNECT_PROJECT_ID=f037d521bce32e7d4f4fe888f0aec902

# Unlink
UNLINK_API_KEY=
UNLINK_CONTRACT_ADDRESS=0x647f9b99af97e4b79DD9Dd6de3b583236352f482

# Branch.io
BRANCH_KEY=
BRANCH_LINK_DOMAIN=

# Backend
BACKEND_URL=
PORT=3000

# Chain
CHAIN_ID=84532
RPC_URL=https://sepolia.base.org
